.navbar {
  background-image: url('/assets/images/dry.jpg');
  background-size: cover;
  background-position: center;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #343a40; // Dark grey for better contrast on background image
  font-weight: 500; // Slightly bolder
}

.navbar-nav .nav-link:hover {
  color: darken(#343a40, 10%); // Slightly darker on hover
}
