services:
  db:
    image: postgres:15-alpine
    container_name: coser_creation_db
    env_file:
      - ./.env
    volumes:
      - ./db:/docker-entrypoint-initdb.d
    ports:
      # Port 5432 was already allocated, so we use 5433 instead.
      - "5433:5432"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - ./.env
    depends_on:
      - db

  frontend:
    build:
      context: .
      dockerfile: ./frontend/dockerfile
    ports:
      # Map host port 80 to the container's port 8080 (where Nginx is listening)
      - "80:8080"
    depends_on:
      - backend

volumes:
  postgres_data:
    driver: local
