<header class="hero text-white text-center">
  <div class="container">
    <h1 class="display-4">CoserCreation : Créations Uniques & Artisanales</h1>
    <p class="lead">Découvrez des créations uniques, faites main avec passion et délicatesse.</p>
  </div>
</header>

<section class="container my-5">
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <h2>À Propos de CoserCreation</h2>
      <p class="lead">
        Bienvenue chez CoserCreation, où chaque création est une histoire. Je suis une maman passionnée qui met son cœur et son âme dans la réalisation de pièces uniques qui vous accompagnent au quotidien. Ma passion pour l'artisanat et les matières nobles me pousse à concevoir des objets d'exception, faits main, rien que pour vous.
      </p>
    </div>
  </div>
</section>

<section class="bg-light py-5">
  <div class="container">
    <h2 class="text-center mb-4">Nos Créations Phares</h2>
    <div class="product-grid" *ngIf="featuredProducts$ | async as featuredProducts">
      <div *ngFor="let product of featuredProducts" class="product-card">
        <img [src]="product.imageUrls[0]" [alt]="product.name" class="product-image">
        <div class="product-info">
          <h3 class="product-name">{{ product.name }}</h3>
          <p class="product-price">{{ product.price | currency:'EUR' }}</p>
        </div>
        <div class="product-overlay">
          <a [routerLink]="['/product', product.id]" class="buy-button">Voir détails</a>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <a routerLink="/galerie" fragment="collection-grid" class="btn btn-lg btn-primary">Voir toute la collection</a>
    </div>
  </div>
</section>
