<h2>Ajouter une nouvelle création</h2>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="title" class="form-label">Titre</label>
    <input type="text" id="title" class="form-control" formControlName="title">
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Prix</label>
    <input type="number" id="price" class="form-control" formControlName="price" placeholder="12.34">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea id="description" class="form-control" formControlName="description" rows="3"></textarea>
  </div>
  <div class="mb-3">
    <label for="images" class="form-label">Images</label>
    <input type="file" id="images" class="form-control" (change)="onFileChange($event)" multiple>
    <div class="image-previews mt-2" *ngIf="imagePreviews.length > 0">
      <div *ngFor="let preview of imagePreviews" class="image-preview-item">
        <img [src]="preview" alt="Image preview">
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Couleurs</label>
    <div class="color-selection-container">
      <div *ngFor="let color of colors" class="color-card-wrapper">
        <input class="form-check-input visually-hidden" type="checkbox" [value]="color.id" (change)="onColorChange($event)" [id]="'color-' + color.id">
        <label class="color-card" [for]="'color-' + color.id">
          <img [src]="color.image" [alt]="color.name" class="card-img-top">
          <div class="card-body">
            <p class="card-text">{{ color.name }}</p>
          </div>
        </label>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Ajouter la création</button>
</form>
