.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  background-color: white; // Add a background color for the info section

  &:hover {
    transform: scale(1.05);

    .product-image {
      filter: brightness(1.1);
    }

    .product-overlay {
      opacity: 1;
    }
  }
}

.product-image {
  width: 100%;
  height: auto; // Let the image determine the height
  aspect-ratio: 1 / 1; // Make it square
  object-fit: cover;
  display: block;
  transition: filter 0.3s ease;
}

.product-info {
  padding: 15px;
  text-align: center;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  // No background color here
}

.product-name {
  margin: 0 0 5px 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.product-price {
  margin: 0;
  font-size: 1rem;
}

.buy-button {
  padding: 10px 20px;
  background-color: #EBCF98; // Softer Gold
  color: #212529; // Dark text
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #E0C98F; // Slightly darker for hover
  }
}
