.btn-contact {
  background-color: #EBCF98; // Softer Gold
  border-color: #EBCF98;
  color: #212529; // Dark text
}

.btn-contact:hover {
  background-color: #E0C98F; // Slightly darker for hover
  border-color: #E0C98F;
  color: #212529;
}
