/* You can add global styles to this file, and also import other style files */
@import "app/admin/admin.styles.scss";

// 1. Include functions first (if needed)
@import "bootstrap/scss/functions";

// 2. Override variable defaults
$primary: #D4AF37; // Soft Gold
$body-bg: #FDFBF7; // Off-white

body {
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/images/flower.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(2px);
  z-index: -1;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); // White overlay with 50% opacity
  z-index: -1;
}


app-contact-form {
  background-image: url('assets/images/flower.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


// 3. Include remaining bootstrap styles
@import "bootstrap/scss/bootstrap.scss";